<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Airline</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/styles.css'>
  </head>
  <body>
    <div class="container">
      <form action='/Stylists' method='post'>
        <h1>Stylist Names:</h1>
        <h3>Add a new Stylist:</h3>

        <div>
          <label for='new-Stylist'>Stylist First Name</label>
          <input name='StylistFirstName' type='text'>
        </div>

        <div>
          <label for='new-Stylist'>Stylist Last Name</label>
          <input name='StylistLastName' type='text'>
        </div>

        <button type='submit'>Add Stylist</button>
      </form>

    </div>
  </body>
</html>
